# Configuration files
config.py

# Python cache files
__pycache__/
*.pyc

# Database
*.db
bot_database.db

# Log files
*.Log
logs/bot_output.log
logs/bot_error.log

# Environment files
.env
.venv
env/
venv/

# IDE specific files
.vscode/
.idea/

# Output files
discord_usernames.txt
current_players.txt
read_players.py
